/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #1f1d2b;
}
*::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}
body {
  overflow: overlay;
}

*::-webkit-scrollbar-thumb {
  background-color: #ea736d;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
